html,
body {
  margin: 0;
  padding: 0;
}

* {
    box-sizing: border-box;
  }

body {
    font-family: 'nunito', 'Helvetica neue', 'Courier New', Courier, monospace;
    background: rgb(238,174,202);
    background: linear-gradient(0deg, rgba(238,174,202,0.555540191740413) 0%, rgba(148,187,233,0.5909384218289085) 100%);
    height: 100vh;
}

.ck-content {
    height: 100% !important;
    width: 100% !important;
}

.App {
    background: white;
    margin: 50px;
    padding: 20px;
    border-radius: 18px;
    opacity: 80%;
    min-height: 80vh;
}